  *{
            margin:auto;

        }
        h1{
            font-family: 'Outfit', sans-serif;
        }
        body{
            font-family: 'Roboto', sans-serif;
        }
        header {
            background-color: rgb(244, 165, 243);
            color: rgb(186, 81, 239);
            padding: 30px 0;
            text-align: center;
        }

        nav{
            background-color: rgb(251, 251, 251);
            padding: 30px 20px;
            border-bottom: 5px solid rgb(230, 173, 216);
            font-size: 15px;
        }
        
        nav a{
            color: rgb(248, 157, 247);
            text-decoration: none;
            font-size: 25px;
            padding: 10px;
            text-transform: capitalize;
        }

        nav a:hover{
            background-color: rgb(164, 151, 246);
            border-radius: 10px;
        }

        #bienvenida{
            padding: 30px;
            text-align: center;
        }

        #proyectos {
            background-color: rgb(234, 140, 228);
            padding: 30px 20px;
            text-align: center;
        }

        .lista-proyectos {
            display: flex;
            padding-top: 20px;
        }

        .proyecto {
            width: 30%;
            border: solid 2px rgb(0, 0, 0);
            padding: 5px;
            border-radius: 10px;
            
        }

        .proyecto h3{
            color: rgb(146, 46, 238);
        }

        #competencias{
            padding: 30px 30px;
        }

        #competencias h2{
            padding-bottom:  30px;
            text-align: center;
        }

        #competencias ul{
            list-style-type: none;
            display: flex;
        }

        #competencias ul li{
            background-color: rgb(253, 190, 248);
            color: aliceblue;
            border-radius: 10px;
            padding: 20px;
        }

        #contacto{
            padding: 30px;
            border-top: 2px dashed darkblue;
        }

        .campos{
            padding: 10pxb;
            clear: both;
            font-size: 16px;
        }

        .campos label{
            font-size: 20px;
        }

        .campos input{
            font-size: 20px;
            padding: 5px;
            border: solid 2px darkblue;
            border-radius: 10px;
            width: 30%;
        }

        .campos button{
            padding: 10px;
            border-radius: 15px;
            background-color: rgb(116, 105, 239);
            color: aliceblue;
            width: 20%;
            border: none;
            font-size: 20px;
        }
        footer {
            padding: 30px 30px;
            background-color: rgb(192, 164, 246);
            text-align: center;
            color: aliceblue;
            font-size: 14px;
            border-top: solid 5px darkblue;
        }